<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<style>
    table {
  width: 100%;
}
th {
  height: 30px;
}
body {
            text-align: center;
            background-color: #F0F0F0;
}
</style>
  <body>
  <div><img src='https://live.staticflickr.com/65535/52818027514_92ea337740.jpg' width="500" height="251" alt="logo"/></a></div>
    
 
<form name= "story" action="/stories" method="POST" >
    <input type="text" name="title" placeholder = "Title of Story" id="title">
    <br>
    <label for="humanWritten">Written by Human?</label>
    <input type="checkbox" name="humanWritten" id="humanWritten">
    <br>
    <input type="text" name="author" placeholder = "Author Name" id="author">
    <br>
    <input type="img" name="bookImage" placeholder = "IMG URL" id="bookImage">
    <br>
    <input type="text" name="storyIntro" placeholder = "Story Intro" id="storyIntro">
    <br>
    <input type="text" name="story" placeholder = "Full Story" id="story">
    <br>
        <textarea rows = "10" cols = "60" name = "story" placeholder = "Full Story" id="story"> Enter Your Story Here!
         </textarea><br>

    <button type="submit">SUBMIT NEW STORY</button>
    <br>
    <a href="/stories/"> CHANGED YOUR MIND? NO WORRIES LET'S GO BACK TO HOME </a>
</form>
</body>
<footer>
  <p></p>
  <a href="https://generalassemb.ly/">Made by GA Carina Sqaud Student: Wes</a>
</footer>
</html>